/* Acá va tu código */
body{
   
    background-image:url('https://www.softwareadvisoryservice.com/media/1349/cyber-2.png');
    background-size: 1950px 1600px;
    background-repeat: no-repeat;
    
    
}



h1{
    color:   #DF0707     ;  
    text-align: center;
    border:  double black;
    padding: 15px ;
    font-size: 80px;
    border-width: 10px 0px;
    
    font-family: 'DM Serif Text', serif;

}


.pass{
    background :#2A373C  ;
    margin:30px ;
    border:3px outset rgb(48, 47, 47);
    border-radius: 20px;
    width : 200px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color:white;
    font-family: 'Noto Serif JP', serif;
    float: left;
    
    
}
#rules{
    display: flex;
    justify-content:center;
    align-items: center;
}
.clear{
    clear: both;
}
  
.text2{
    font-family: 'DM Serif Text', serif;
    font-size: 20px; 
    color: #DF0707   ;
    
}

.text1{
   width:400px ;
   height:100px ;
   color:#123E4C;
   font-size: 16px;
   font-weight: 800;
   font-family: 'Noto Serif JP', serif;
   border-block-start-color: #2A373C;
   
   
}

#buttons{
    text-align: center;
}

.textwelcome{
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size:25px; 
    
    color:  white;
}

.btn{
    border:2px solid #223595 ;
    background-color:#DED8D8  ; 
    border-radius: 10px; 
    margin:10px;
    font-size: 16px;
    padding: 8px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 600;
    
}

.btn:hover {
    background-color: black; /* cambia Green y las lineas son blancas */
    color: white;
    border:grey;
  }
.inputNumner{
    width:60px;
    color:#223595
}


#encryption {
    display:none;
    text-align: center;
}

#decoded {
    display:none; 
    text-align: center;
}